#mainDesign {
    text-align: center;
}

.homePageButtons {
    margin-left: 200px;
}

.loginCredentials {
	margin-top: -325px;
	margin-left: 20px;
    width: 540px;
}

.navbar{
	background:linear-gradient(#000,#0000) !important;
}

.navbar .btn{
	font-weight: bold;
}

.navbar .navbar-brand{
	font-weight: bolder;
	color: white;
}


.signup {
	margin-left: 10px;
    width: 540px;
}

.loggedIn{
	color: #878a8e;
	padding-right: 10px;
}


#hero{
	background-image: url("pic.jpg");
	background-size: cover;
	height:500px;
	margin-top:-50px;
}

#hero2{
	background-image: url("pic2.jpg");
	background-size: cover;
}

#hero3{
	margin-left: 800px;
	margin-top:-150px;
}

.h-txt{
	padding: 20% 2%;
}

.createCourse{
	color:white;
	margin-right: 200px;
    width: 700px;
}

.editCourse{
	color:white;
	margin-right: 200px;
    width: 700px;
}

.viewCourses{
	color:white;
	margin-right: 200px;
    width: 700px;
}

.editingCourse{
	color:white;
	margin-right: 200px;
    width: 700px;
}

hr.new1 {
  border-top: 2px solid #8b95a5;
}
